
.card {

    transition: translate ease-in-out 100ms, box-shadow
    ease-in-out 100ms;
    text-decoration: none;
    background-color:floralwhite;
    color:black;
    
   
}

.card:hover,
.card:focus {
    translate: 0-5px;
    box-shadow: 0 5px  8px 0 rgba(0, 0,0, .2);
    text-decoration:underline;
    text-transform: uppercase;
    
}
.contain{
    color:floralwhite;
}