*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.card {

    transition: translate ease-in-out 100ms, box-shadow
    ease-in-out 100ms;
    text-decoration: none;
    background-color:floralwhite;
    color:black;
    
   
}

.card:hover,
.card:focus {
    translate: 0-5px;
    box-shadow: 0 5px  8px 0 rgba(0, 0,0, .2);
    text-decoration:underline;
    text-transform: uppercase;
    
}

.dropd{
    background-color: darkgrey;
    color: black;
    overflow-wrap: break-word;
   
}

.edith{
    background-color: black;
    color: white;
}

.note-containers{
    white-space: wrap;
    background-color:darkslateblue;
    color: white;
    width: 50%;
    height: 50%; 
    margin: auto;
    padding: 5px;
    flex-wrap: wrap;
    overflow-wrap: break-word;

}
.textbodys{
text-transform: uppercase;
background-color: aquamarine;
    width: 100%;
    min-height: 300px;
    
    font-size: 8px;
    resize: none;
    border: solid 1px;
    border-radius: 4px;
    outline: none;

}